<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <context-param>
        <param-name>BootsFaces_USETHEME</param-name>
        <param-value>default</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>model.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPacient</servlet-name>
        <servlet-class>model.RegisterPacient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPersonal</servlet-name>
        <servlet-class>model.RegisterPersonal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterGlucose</servlet-name>
        <servlet-class>model.RegisterGlucose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGlucose</servlet-name>
        <servlet-class>model.ListGlucose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateFilterGlucose</servlet-name>
        <servlet-class>model.DateFilterGlucose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValueFilterGlucose</servlet-name>
        <servlet-class>model.ValueFilterGlucose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PacientListServlet</servlet-name>
        <servlet-class>model.PacientListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailPacientServlet</servlet-name>
        <servlet-class>model.DetailPacientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FCM_Server</servlet-name>
        <servlet-class>model.FCM_Server</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPacient</servlet-name>
        <url-pattern>/RegisterPacient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPersonal</servlet-name>
        <url-pattern>/RegisterPersonal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterGlucose</servlet-name>
        <url-pattern>/RegisterGlucose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGlucose</servlet-name>
        <url-pattern>/ListGlucose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateFilterGlucose</servlet-name>
        <url-pattern>/DateFilterGlucose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValueFilterGlucose</servlet-name>
        <url-pattern>/ValueFilterGlucose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PacientListServlet</servlet-name>
        <url-pattern>/PacientListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailPacientServlet</servlet-name>
        <url-pattern>/DetailPacientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FCM_Server</servlet-name>
        <url-pattern>/FCM_Server</url-pattern>
    </servlet-mapping>
    <error-page> 
        <exception-type>javax.faces.application.ViewExpiredException</exception-type> 
        <location>/index.xhtml</location> 
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
